<h1 class="mb-4">{{ heading }}</h1>
<form method="post">
    <div class="form-group">
        <label for="text">Text*</label>
        <textarea class="form-control" name="text" id="text" rows="10"  required>{{ text }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>