html, body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
    height: 60px;
    padding-top: 20px;
}
.tasks-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-ready-icon {
    padding: .5em;
    text-align: center;
    font-size: 5em;
    background-color: #888;

}
.card-ready-icon .fa-exclamation-triangle {
    color: red;
}
.card-ready-icon .fa-check-circle {
    color: green;
}
.pagination-wrap li a{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white;
    background-color: #888;
    border: 1px solid #dee2e6;
}
.pagination-wrap li a:hover,
.pagination-wrap li a:active {
    text-decoration: none;
    background-color: #343a40;
}
.pagination-wrap li.active a {
    background-color: #343a40;
}