html, body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
    height: 60px;
    padding-top: 20px;
}
.tasks-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-ready-icon {
    padding: .5em;
    text-align: center;
    font-size: 5em;
    background-color: #888;

}
.card-ready-icon .fa-exclamation-triangle {
    color: red;
}
.card-ready-icon .fa-check-circle {
    color: green;
}